@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background-color: #ffffff;
  color: #171717;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  transition: background-color 0.3s, backdrop-filter 0.3s;
}
